<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Quick Actions</h1>
  <p class="lead">What sort of SIP phone configuration would you like to perform?</p>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm w-25">
      <div class="card-header bg-dark">
        <h4 class="my-0 font-weight-normal text-white">New Phone</h4>
      </div>
      <div class="card-body">
        <p class="text-muted">
          Created configuration file for a brand new phone and assign to an employee.
        </p>
        <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/provision" [disabled]='!isLoggedIn()'>
          Provision
        </button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm w-25">
        <div class="card-header bg-dark">
          <h4 class="my-0 font-weight-normal text-white">Existing Phone</h4>
        </div>
        <div class="card-body">
          <p class="text-muted">
            Reconfigure an existing phone and assign to a different employee.
          </p>
          <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/reprovision" [disabled]='!isLoggedIn()'>
            Re-provision
          </button>
        </div>
      </div>
  </div>
</div>